@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
.banner-top-section {
    width: 1440px;
    height: 130px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.top-corner-text {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
.top-right-corner-button button {
    padding: 17px 24px 17px 24px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;

}
/* banner section */
.banner-section {
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    border: 1px solid rgb(0, 255, 94);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-section img {
    width: 240.28;
    height: 240;
}
.banner-heading{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;

    letter-spacing: 0%;
    text-align: center;
    border: 1px solid red;
    padding: 0 221px;
}

.banner-section>p{
    font-size: 28px;
    font-weight: 400;
    padding: 0 294px;
    text-align: center;
    color:rgb(1319 33)

}
.banner-section>button{
    border-radius: 8px;
    padding: 21px 24px ;
    text-align: center;
    font-size: 28px;
    color: white;
    background-color: black;
}

.development-sections {
    width: 1140px;
    height: 1393px;
    border: 1px solid rgb(94, 255, 0);
    margin: 0 auto;
    margin-top: 100px;
}

.development-section {
    width: 946px;
    height: 1233px;
    border: 1px solid rgb(255, 162, 0);
    margin: 0 auto;
    margin-top: 90px;
}

.card-section {
    width: 946px;
    height: 336px;
    border: 1px solid rgb(255, 162, 0);
    margin-top: 25px;
    display: flex;
}

.card-section-text {
    width: 60%;
    border: 1px solid rgb(29, 29, 29);
}

.card-section-img {
    width: 40%;
    border: 1px solid rgb(228, 12, 12);
}